.repoList {
  a {
    text-decoration: none;
    &.add {
      display: block;
      position: fixed;
      z-index: 3;
      top: 0;
      right: 0;
      line-height: 36px;
      width: 90px;
      text-align: center;
      font-size: 12px;
      color: #da7878;
      font-weight: bold
    }
  }

  .listItem {
    position: relative;
    display: block;
    padding: 12px;
    padding-left: 32px;
    
    &::before {
      content: ' ';
      position: absolute;
      height: 100%;
      top: 0;
      left: 15px;
      width: 1px;
      background: #eee;
    }

    &::after {
      content: ' ';
      position: absolute;
      height: 9px;
      top: 20px;
      left: 11px;
      width: 9px;
      border-radius: 50%;
      background: #fc9;
    }

    &:nth-child(n) { &::after { background: #fc9; } }
    &:nth-child(2n) { &::after { background: rgb(105, 218, 247); } }
    &:nth-child(3n) { &::after { background: rgb(177, 214, 200); } }

    .listName {
      line-height: 24px;
      font-size: 14px;
      font-weight: bold;
      color: #333;
    }
    .listInfo {
      position: relative;
      line-height: 20px;
      font-size: 12px;
      color: #999;
      
      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 64%;
      }
    }
  }

  .introduction {
    padding: 12px;
    font-size: 13px;
    max-width: 640px;
    margin: 0 auto;

    .howTo {
      border-left: 4px solid #cdf;
      padding: 6px; 
      margin-bottom: 16px;
    }
    .introductionTitle {
      font-size: 18px;
      font-weight: bold;
      color: #000;
      padding: 12px 0;
    }

    .paragraph {
      margin-bottom: 16px;
      
      a {
        color: #39f;
      }

      &.bold {
        font-size: 14px;
        font-weight: bold;
      }

      &.list {
        padding-left: 16px;
        text-indent: -16px;
      }
    }
  }
}