.branchList {

  a {
    text-decoration: none;
    &.add {
      display: block;
      position: relative;
      margin: 10px auto;
      line-height: 36px;
      width: 94%;
      border-radius: 3px;
      color: rgb(112, 100, 100);
      text-align: center;
      font-size: 12px;
      background-color: #ecf8fa;
      font-weight: bold;
    }
  }

  .user {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3e508e;
    border-bottom: 1px solid #eee;
  }


  .branchItem {
    position: relative;
    display: block;
    padding: 12px;
    padding-left: 32px;

    &::before {
      content: ' ';
      position: absolute;
      height: 100%;
      top: 0;
      left: 15px;
      width: 1px;
      background: #eee;
    }

    &::after {
      content: ' ';
      position: absolute;
      height: 9px;
      top: 20px;
      left: 11px;
      width: 9px;
      border-radius: 50%;
      background: #fc9;
    }

    &:nth-child(n) { &::after { background: #fc9; } }
    &:nth-child(2n) { &::after { background: rgb(105, 218, 247); } }
    &:nth-child(3n) { &::after { background: rgb(177, 214, 200); } }

    .branchName {
      line-height: 24px;
      font-size: 14px;
      font-weight: bold;
      color: #333;
    }
    .branchInfo {
      line-height: 20px;
      font-size: 12px;
      color: #999;
    }
  }
}